*{margin:0;padding:0}@font-face{font-family:Gilroy;src:url(Gilroy-Semibold.04e2f3d6f9e878bd.ttf)}@font-face{font-family:Merriweather;src:url(Merriweather-Black.df86ea9c8ddc7eea.ttf)}body{background-color:#191411;font-family:Gilroy,sans-serif;color:#fff}.container{max-width:1200px;margin:0 auto}button{color:#191411;text-align:center;font-size:18px;font-weight:600;border-radius:8px;background:linear-gradient(96deg,#DA8023 0%,#E2B438 100%);display:flex;padding:19px 50px;justify-content:center;align-items:center;gap:10px;border:0;cursor:pointer;outline:none}button:hover{background:linear-gradient(96deg,#AC6115 0%,#9E7A19 100%)}button:disabled{cursor:not-allowed;color:gray;background:#343434}.common-title{text-align:center;font-family:Merriweather,"sans-serif";font-size:64px;font-style:normal;font-weight:900;line-height:80px;letter-spacing:1.92px;text-transform:uppercase}@media screen and (max-width: 1225px){.main, .products, .order{background: none;}.container {padding-left: 15px;padding-right: 15px;}

.header .container {
  flex-wrap: wrap;
  max-width: 420px;
  justify-content: center;
}

.header .logo {
  order: 1;
}

.menu {
  margin: 20px 0;
  order: 3;
  flex-basis: 100%;
}

.menu ul { /*там другой класс*/
  justify-content: space-between;
}

.menu-item {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.currency {
  margin-left: 20px;
  order: 2;
}

.main-image {
  z-index: -1;
  opacity: 0.4;
}

.why-items {
  grid-template-columns: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.products-items {
  grid-template-columns: repeat(auto-fill, minmax(290px, 384px));
  justify-content: center;
}

.products-item {
  padding: 15px;
}

.products-item-image {
  height: auto;
}

.order {
  padding-bottom: 20px;
}

.order-image {
  width: 800px;
}

.order-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 426px;
  width: auto;
  padding: 20px;
}

.order-form-input {
  max-width: 100%;
  width: auto;
}

.order-form-input input {
  width: calc(100% - 2px);
}

.order-form-inputs .button {
  width: 100%;
  margin: 0 auto;
}
}
@media screen and (max-width: 570px) {.main-title {font-size: 65px;margin-top: 20px;}.common-title{font-size: 36px;line-height: 46px;}.footer .container{flex-direction: column;justify-content: center;}.rights{margin-top: 20px;}}

